<div>
  <h1>Welcome to the Application</h1>


  <!-- app.component.html -->


<nav>
  <a routerLink="/admin/admin-login" routerLinkActive="active-link">Admin Login</a>
  <br>
  <a routerLink="/admin/admin-register" routerLinkActive="active-link">Admin Register</a> 
  <br>
  <a routerLink="/client/client-login" routerLinkActive="active-link">Client Login</a>
  <br>
  <a routerLink="/client/client-create" routerLinkActive="active-link">Client Register</a> 
  <br>
  <a routerLink="/meeting/schedule"outerLinkActive="active-link">SchedulingApp</a> 
  <br>
</nav>

<router-outlet></router-outlet>


  <!-- Any other root-level content goes here -->
</div>
