/* Container to center align the calendar and give it some max width for better display */
mwl-calendar-month-view {
    display: block;
    max-width: 900px;
    margin: 2em auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }
  
  /* Highlight the days on hover for better UX */
  mwl-calendar-month-view .cal-day-cell:hover {
    background-color: #f9f9f9;
  }
  
  /* Style for selected day if you plan to add a selected day feature */
  mwl-calendar-month-view .cal-day-selected {
    background-color: #e0e0e0;
  }
  